* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    height: 100vh;
}

.logi-img {
    height: 100%;
    width: 50%;
    background-image: url("../img/NT.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.logi-form {
    width: 50%;
    padding: 60px 100px;
    background-color: red;
}