@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: "Open Sans", sans-serif;
}

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
}

.site-img {
  width: 50%;
}

.login-img {
  width: 50%;
  background-image: url("./img/NT.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.entrance {
  width: 50%;
  padding-left: 100px;
}

.site-logo {
  padding-top: 60px;
}

.entrance-2 {
  margin-top: 163px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}

label p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 8px;
}

.email {
  margin-bottom: 34px;
}

label input {
  outline: none;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  width: 400px;
  height: 40px;
  padding: 20px;
}

.btn {
  width: 400px;
  height: 40px;
  margin-top: 34px;
  outline: none;
  background-color: #0eb182;
  box-shadow: 0px 2px 0px 0px #0ba15d29;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Open Sans", sans-serif;
  border: none;
  color: white;
  transition: 0.7s all ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .login-img {
    display: none;
  }

  .entrance {
    width: 100%;
    padding: 50px;
  }

  .site-logo {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .login-img {
    display: none;
  }

  .entrance {
    width: 100%;
    padding: 50px;
  }

  .site-logo {
    padding: 0;
  }

  label input {
    width: 350px;
    height: 40px;
  }

  .btn {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .login-img {
    display: none;
  }

  .entrance {
    width: 100%;
    padding: 50px;
  }

  .site-logo {
    padding: 0;
  }

  label input {
    width: 300px;
    height: 40px;
  }

  .btn {
    width: 300px;
  }
}

@media (max-width: 350px) {
  .login-img {
    display: none;
  }

  .entrance {
    width: 100%;
    padding: 50px;
  }

  .site-logo {
    padding: 0;
  }

  label input {
    width: 250px;
    height: 40px;
  }

  .btn {
    width: 250px;
  }
}